<main class="grid grid-nogutter w-full weather-bg">
  <!-- <div>{{ key | backgr : dn }}</div> -->
  <img class="bg-img" src="{{ key | backgr : dn }}" alt="weather background" />
  <app-side-bar class="col-1 sidebar"></app-side-bar>
  @if (curUrl === '/') {
  <app-content class="col-11 content" (weatherChange)="onWeatherChange($event)"  (openCompare)="openCompare()"></app-content>
  }
  @else {
  <app-map class="map"></app-map>
  }
  @if (showCompare) {
  <app-compare-modal
    (closeModal)="closeCompare()">
  </app-compare-modal>
}


</main>