//   .ac-reset, .ac-reset .p-autocomplete, .ac-reset .p-inputtext{
//     all: unset;

//   }

//   /* reset input */
//   .ac-reset .p-autocomplete-input{
//     all: unset;                

//   }

// .search-box{           
//   padding: 0 16px;           
//   border: 0px solid rgba(255,255,255,.10);
// }
// .search-box::placeholder{
//     margin-left: 5px;
//     color: white;
// }

  .today-scroll{
    display:flex;
    overflow-x:auto;
    overflow-y:hidden;
   
    white-space:nowrap;
  }


  .forecast-item{
    position:relative;
    flex: 0 0 calc(100% / 5);
    max-width: calc(100% / 5);
    text-align:center;
  }

  .forecast-item:not(:last-child)::after{
    content:"";
    position:absolute;
    right:0;
    top:8px;
    bottom:8px;
    width:1px;
    background:rgba(255,255,255,0.12);
  }

  .today-scroll::-webkit-scrollbar{
    display:none;
    width:0;
    height:0;
  }
  .forecast-item .t{ color:rgba(255,255,255,0.75); font-size:14px; margin-bottom:10px; }
  .forecast-item .ico{ width:100px; height:100px; display:block; margin:0 auto; }
  .forecast-item .temp{ color:#fff; font-size:28px; font-weight:600; margin-top:10px; }

  .forecast7{
    // height: 88vh;
    display: flex;
    flex-direction: column;
    padding: 10px 18px 18px 18px;
    gap: 8px;
  }

  .forecast7-row{
    flex: 1 1 0;              /* ✅ chia đều 7 dòng */
    display: grid;
    grid-template-columns: 1.2fr 1fr 0.6fr; 
    align-items: center;
    padding: 10px 12px;
    border-radius: 16px;
    background: rgba(255,255,255,0.03);
  }

  .forecast7-date{
    color: rgba(255,255,255,0.75);
    font-size: 16px;
  }

  .forecast7-icon{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .forecast7-icon img{
    width: 52px;   
    height: 52px;
  }

  .forecast7-temp{
    text-align: right;
    color: white;
    font-size: 22px;
    font-weight: 600;
  }
  .hub-container {
    display: flex;
    height: 5%;
    width: 95%;
    gap:5px;
  }
  .locate-btn{
      height: 100%;
      padding: 0 20px;
      border-radius: 999px;
      border: 0;
      background: #1f2b3a;
      color: white;
      cursor: pointer;
      white-space: nowrap;
  }
  .temp-btn{
      height: 100%;
      padding: 0 20px;
      border-radius: 999px;
      border: 0;
      background: #1f2b3a;
      color: white;
      cursor: pointer;
      white-space: nowrap;
  }
  .week-forecast-panel {
    width: 95%;height: 88vh;background-color: #1f2b3a;margin-top:1vh;border-radius: 28px;
  }