.sidebar{
  width: 92px;
  height: 90vh;
  margin: 20px;
  border-radius: 28px;
  background: #1f2b3a;        
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 10px;
  gap: 18px;
}

// .logo{
//   width: 46px;
//   height: 46px;
//   border-radius: 16px;
//   display:flex;
//   align-items:center;
//   justify-content:center;
//   color: #cfe8ff;
//   background: rgba(255,255,255,.06);
//   font-size: 22px;
// }

.nav{
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap: 18px;
  margin-top: 10px;
}

.nav-item{
  width: 100%;
  padding: 10px 0;
  border-radius: 16px;
  text-decoration:none;
  color: #9fb0c3;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap: 8px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .2px;
  cursor: pointer;
}

.nav-item i{
  font-size: 18px;
  line-height: 1;
}

.nav-item.active{
  color: #e9f2ff;
}

.nav-item.active i{
  color: #e9f2ff;
}
